<!DOCTYPE html>
<html>
<head>
    {% block head %}<meta charset="UTF-8">
    <title>{% block title %}{% endblock %} Exercise 1.1</title>
    {% endblock %}
</head>
<body>
    {% block body_top %}
    <p>Body TOP</p>
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block body_bottom %}
    <p>Body BOTTOM</p>
    {% endblock %}
</body>
</html>