{% extends "base.jinja2" %}
{% block title %}
Index
{% endblock %}
{% block content %}
<p><a href="file:\\\C:\Users\khoramus\Desktop\web\Exercise 1.1\myproject\about\aboutme.html">Абсолютная ссылка на "aboutme.html"</a></p>
<p><a href="about/aboutme.html">Relative link to aboutme.html</a></p>
{% endblock %}


